body {color: white; background-color: black; background-image: url('myBackground.jpg'); text-align:center;}
table.center {margin-left: auto; margin-right: auto;}
#navTd {width: 400px;}
h1 {color: green; text-align:center;}
