body {background-color: black; text-align:center;}
body {color: white; text-align:center;}
h1 {color: green; margin-left: 20px; text-align:center;}

#navTable {table-align:center;}
#navTd {table-align:center;}
